.highlight .c { color: #6a737d; font-style: italic } /* Comment */
.highlight .k { color: #d73a49; } /* Keyword */
.highlight .kc { color: #005cc5;  } /* Keyword.Constant */
.highlight .kt { color: #d73a49;  } /* Keyword.Type */
.highlight .m { color: #005cc5 } /* Literal.Number */
.highlight .nd { color: #22863a;  } /* Name.Decorator */
.highlight .nf { color: #22863a;  } /* Name.Function */
.highlight .nl { color: #22863a;  } /* Name.Label */
.highlight .mf { color: #005cc5 } /* Literal.Number.Float */
.highlight .mh { color: #005cc5 } /* Literal.Number.Hex */
.highlight .mi { color: #005cc5 } /* Literal.Number.Integer */
.highlight .mo { color: #005cc5 } /* Literal.Number.Oct */
.highlight .sr { color: #e36209 } /* Literal.String.Regex */
.highlight .s1 { color: #e36209 } /* Literal.String.Single */
